.textField {
  border-radius: 1rem;
  border-width: 2px;
  border-color: #f69fa8;

  box-shadow: 0 0px 2rem 0.25px #f69fa8;

  width: 18rem;
  height: 3rem;

  background-color: #fbcbc9;

  text-emphasis-color: #aaaaaa;
  vertical-align: top;
  resize: none;

  padding: 0.5rem;
}
